In [1]:
from sys import path
from pathlib import Path
from sqlalchemy import create_engine

import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format

# Se genera la ruta absoluta al directorio "Comisiones"
path_package = str(Path.cwd().parent)

# Se agrega la ruta al directorio sys.path
path.append(path_package)

# Se define la ruta para la base de datos local SQLite
db_file = 'comisiones.db'
db_file_path_str = str(Path().cwd().parent.parent.joinpath(f'data/{db_file}'))

# Se crea el objeto engine para trabajarlo con los metodos de pandas
engine = create_engine(f'sqlite:///{db_file_path_str}')


from algoritmos.algoritmo_cobranza_mes import cobranza_mes_func
from descriptions.descriptions import descrip_sales_users_df, descrip_product_df, descrip_partner_df

In [2]:
cobranza_enero = cobranza_mes_func(1)
cobranza_febrero = cobranza_mes_func(2)
cobranza_marzo = cobranza_mes_func(3)
cobranza_abril = cobranza_mes_func(4)
cobranza_mayo = cobranza_mes_func(5)

cobranza_año = pd.concat([cobranza_enero, cobranza_febrero, cobranza_marzo, cobranza_abril, cobranza_mayo], ignore_index=True)

In [5]:
file01 = 'Comisiones data CCC SAE 2024'
file01_path_str = str(Path().cwd().parent.parent.joinpath(f'data/comisiones/{file01}.xlsx'))

file02 = 'Comisiones data CCV SAE 2024'
file02_path_str = str(Path().cwd().parent.parent.joinpath(f'data/comisiones/{file02}.xlsx'))


cobranza_sae_CCC_C1 = pd.read_excel(file01_path_str, sheet_name = '1C', dtype_backend='numpy_nullable')
cobranza_sae_CCC_C2 = pd.read_excel(file01_path_str, sheet_name = '2C', dtype_backend='numpy_nullable')
cobranza_sae_CCC_C3 = pd.read_excel(file01_path_str, sheet_name = '3C', dtype_backend='numpy_nullable')
cobranza_sae_CCC_C4 = pd.read_excel(file01_path_str, sheet_name = '4C', dtype_backend='numpy_nullable')
cobranza_sae_CCC_C5 = pd.read_excel(file01_path_str, sheet_name = '5C', dtype_backend='numpy_nullable')
cobranza_sae_CCC_C6 = pd.read_excel(file01_path_str, sheet_name = '6C', dtype_backend='numpy_nullable')
cobranza_sae_CCC_C7 = pd.read_excel(file01_path_str, sheet_name = '7C', dtype_backend='numpy_nullable')
cobranza_sae_CCC_C8 = pd.read_excel(file01_path_str, sheet_name = '8C', dtype_backend='numpy_nullable')
cobranza_sae_CCC_C9 = pd.read_excel(file01_path_str, sheet_name = '9C', dtype_backend='numpy_nullable')
cobranza_sae_CCC_C10 = pd.read_excel(file01_path_str, sheet_name = '10C', dtype_backend='numpy_nullable')
cobranza_sae_CCC_C11 = pd.read_excel(file01_path_str, sheet_name = '11C', dtype_backend='numpy_nullable')
cobranza_sae_CCC_C12 = pd.read_excel(file01_path_str, sheet_name = '12C', dtype_backend='numpy_nullable')


pd.isna(cobranza_sae_CCC_C1.iloc[0,0]) and cobranza_sae_CCC_C1.drop(list(cobranza_sae_CCC_C1.index), inplace=True)
pd.isna(cobranza_sae_CCC_C2.iloc[0,0]) and cobranza_sae_CCC_C2.drop(list(cobranza_sae_CCC_C2.index), inplace=True)
pd.isna(cobranza_sae_CCC_C3.iloc[0,0]) and cobranza_sae_CCC_C3.drop(list(cobranza_sae_CCC_C3.index), inplace=True)
pd.isna(cobranza_sae_CCC_C4.iloc[0,0]) and cobranza_sae_CCC_C4.drop(list(cobranza_sae_CCC_C4.index), inplace=True)
pd.isna(cobranza_sae_CCC_C5.iloc[0,0]) and cobranza_sae_CCC_C5.drop(list(cobranza_sae_CCC_C5.index), inplace=True)
pd.isna(cobranza_sae_CCC_C6.iloc[0,0]) and cobranza_sae_CCC_C6.drop(list(cobranza_sae_CCC_C6.index), inplace=True)
pd.isna(cobranza_sae_CCC_C7.iloc[0,0]) and cobranza_sae_CCC_C7.drop(list(cobranza_sae_CCC_C7.index), inplace=True)
pd.isna(cobranza_sae_CCC_C8.iloc[0,0]) and cobranza_sae_CCC_C8.drop(list(cobranza_sae_CCC_C8.index), inplace=True)
pd.isna(cobranza_sae_CCC_C9.iloc[0,0]) and cobranza_sae_CCC_C9.drop(list(cobranza_sae_CCC_C9.index), inplace=True)
pd.isna(cobranza_sae_CCC_C10.iloc[0,0]) and cobranza_sae_CCC_C10.drop(list(cobranza_sae_CCC_C10.index), inplace=True)
pd.isna(cobranza_sae_CCC_C11.iloc[0,0]) and cobranza_sae_CCC_C11.drop(list(cobranza_sae_CCC_C11.index), inplace=True)
pd.isna(cobranza_sae_CCC_C12.iloc[0,0]) and cobranza_sae_CCC_C12.drop(list(cobranza_sae_CCC_C12.index), inplace=True)


sae_ccc_with_empty = [  cobranza_sae_CCC_C1,
                        cobranza_sae_CCC_C2,
                        cobranza_sae_CCC_C3,
                        cobranza_sae_CCC_C4,
                        cobranza_sae_CCC_C5,
                        cobranza_sae_CCC_C6,
                        cobranza_sae_CCC_C7,
                        cobranza_sae_CCC_C8,
                        cobranza_sae_CCC_C9,
                        cobranza_sae_CCC_C10,
                        cobranza_sae_CCC_C11,
                        cobranza_sae_CCC_C12
                    ]

sae_ccc_with_no_empty = []
for df in sae_ccc_with_empty:
    not df.empty and sae_ccc_with_no_empty.append(df)


cobranza_sae_CCC_año = pd.concat(sae_ccc_with_no_empty, ignore_index=True)

In [13]:
cobranza_sae_CCC_año

,Cliente,Número de documento,Referencia,Tipo de movimiento,Importe,Fecha de aplicación,Número de concepto,Descripción,Vendedora,VendOdoo,Fecha Fact,Dias,Id Odoo,Id_name_odoo
0,19516,1951620240104,SF 176714,Abono,"6,182.15",2024-01-04,22,Transferencia,Karla Jaqueline Rivera Hdez.,221,2023-11-11,54,13803,STANLEY PARK
1,18920,1892020240109,SF 178968,Abono,73.25,2024-01-09,22,Transferencia,Nadia Santos Nava,216,2023-12-14,26,13705,CABO BARBA CARPINTERIA
2,18920,1892020240109,SF 179677,Abono,"6,392.75",2024-01-09,22,Transferencia,Karla Jaqueline Rivera Hdez.,221,2023-12-26,14,13705,CABO BARBA CARPINTERIA
3,18920,1892020240109,SF 179045,Abono,330.24,2024-01-09,22,Transferencia,Karla Jaqueline Rivera Hdez.,221,2023-12-15,25,13705,CABO BARBA CARPINTERIA
4,18920,1892020240109,SF 179366,Abono,"1,823.96",2024-01-09,22,Transferencia,Karla Jaqueline Rivera Hdez.,221,2023-12-19,21,13705,CABO BARBA CARPINTERIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,20510,2051020240325,CF 140677,Abono,"14,901.46",2024-03-25,22,Transferencia,Viviana Montaño Inzunza,219,2023-12-22,94,16087,VIDAL COSTICH CORTES
160,20510,2051020240325,CF 140486,Abono,"7,723.76",2024-03-25,22,Transferencia,Reyna Arriaga Flores,212,2023-12-18,98,16087,VIDAL COSTICH CORTES
161,1756,175620240517,CF 137036,Abono,"2,264.75",2024-05-17,22,Transferencia,Reyna Arriaga Flores,212,2023-10-11,219,15371,ANGEL MALDONADO TORRES
162,1756,175620240517,CF 137345,Abono,"2,403.52",2024-05-17,22,Transferencia,Leticia Terán Salinas,224,2023-10-17,213,15371,ANGEL MALDONADO TORRES
163,1756,175620240517,CF 138602,Abono,"6,756.21",2024-05-17,22,Transferencia,Gladiz Melisa Galvez Espinoza,218,2023-11-13,186,15371,ANGEL MALDONADO TORRES

In [2]:
with engine.connect() as conn, conn.begin():  
    ventas_año = pd.read_sql_table('ventas_año', conn, dtype_backend='numpy_nullable')

engine.dispose()

In [5]:
wep = (cobranza_año.merge(
              ventas_año[['fact_doc_id', 'salesperson_id', 'salesperson_name', 'active',
              'sale_team_id', 'sale_team_description', 'business_model', 'warehouse']], how='left', on='fact_doc_id')).merge(
                     descrip_partner_df, how='left', left_on= 'fact_doc_cliente', right_on= 'partner_id'
                     )[[
                     'fact_doc_id', 'fact_doc_name', 'fact_doc_cliente', 'partner_name', 'fact_doc_date', 'fact_doc_total', 
                     'fact_doc_deuda', 'pay_journal', 'ref', 'pay_amount', 'pay_date', 'pay_pos', 'salesperson_id', 'salesperson_name', 
                     'active', 'sale_team_id', 'sale_team_description', 'business_model', 'warehouse']]

wep.columns = ['fact_doc_id', 'fact_doc_name', 'fact_doc_cliente_id', 'fact_doc_cliente_name',
       'fact_doc_date', 'fact_doc_total', 'fact_doc_deuda', 'pay_journal',
       'ref', 'pay_amount', 'pay_date', 'pay_pos', 'salesperson_id',
       'salesperson_name', 'active', 'sale_team_id', 'sale_team_description',
       'business_model', 'warehouse']